{# app/Resources/views/general/index.html.twig #}
<h1>PRUEBA</h1>
{% set  imagen = 'uploads/images/' ~ ruta_imagen %}
<div>
<img class="imagen" src="{{ asset(imagen) }}" />
</div>

<div class="lista_botones">
<button class="button"><span> ENVIAR </span></button>
<button class="button"><span> FOTO </span></button>
<button class="button"><span> DRIVE </span></button>
</div>

