{{ form_start(form, {'action': path("vinculador"), 'method': 'POST'}) }}
<div>
        {{form_row(form.name, { 'attr': {'class': 'upload'} })}}
        <button class="button" id="envio"><span > Subir Foto </span> </button>
</div>
{#    <button class="button"><span> Enviar </span></button>#}
{{ form_end(form) }}