{{ form_start(form, {'action': path("vinculador"), 'method': 'POST'}) }}
    <button class="button">
        {{form_row(form.name, { 'attr': {'class': 'upload'} })}}
        <span id="envio"> Subir Foto </span>
    </button>
    <button class="button"><span> Enviar </span></button>
{{ form_end(form) }}

<script>

    $(document).ready(function () {
        console.log("LISTO_file");

        $(document).on('click', '#envio', function () {
            console.log("SELECCION");
            document.getElementById('images_name').click();
        });



        $("#images_name").change(function () {

            console.log("ENVIO");
            console.log($("#images_name").val());
        });

    });
</script>