{{ form_start(form, {'action': path("vinculador"), 'method': 'POST'}) }}
    <button class="button">
        {{form_row(form.name, { 'attr': {'class': 'upload'} })}}
        <span id="envio"> Subir Foto </span>
    </button>
    <button class="button"><span> Enviar </span></button>
{{ form_end(form) }}