{# app/Resources/views/general/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/generalBundle/css/index.css') }}"/>
{% endblock %}
{% block body %}
    <ul class="topnav">
        <li> <p class="active"> Inicio </p></li>
        <li> <p> Conocenos </p></li>
        <li> <p> Proyectos </p></li>
        <li class="right"><p> Iniciar Sesión </p></li>
    </ul>
    
    <div class="flex-container">
        <div class="contenido_izq">
            <h1>IZQUIERDA</h1>
        </div>

        <div class="contenido_central">
            <div>{{ render(controller('generalBundle:general:picture')) }}</div>
        </div>

        <div class="contenido_der">
            <h1>DERECHA</h1>
        </div>
    </div>

    <footer>
      {#  {{ render(controller('generalBundle:general:form')) }}#}
      <h1>YES</h1>
    </footer>

{% endblock %}
