<div class="contenido_izq">           
    {{ render(controller('generalBundle:general:formulariobusqueda')) }}
</div>

<div class="contenido_central">
    <p id="foto_solicitada"> {{ ruta_imagen }} </p>
    {{ render(controller('generalBundle:general:picture', { 'imagen': ruta_imagen })) }}
</div>
