<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body onload="document.getElementById('cargando').style.display = 'none';">
    {% block body %}
        <ul class="topnav">
            <li class="active" id="Inicio"> <p> Inicio </p></li>
            <li id="Conocenos"> <p> Conocenos </p></li>
{#            <li class="right"><p> Iniciar Sesión </p></li>#}
        </ul>
    {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>

<script>

    $(document).ready(function () {
        var $loading = "<li class=\"spinner\"></li>";
        var $loading2 = "<li class=\"spinner2\"></li>";

        $("#Inicio").click(function () {
            console.log("INICIO");
            document.getElementById("Inicio").innerHTML = $loading;
            $.ajax({
                type: "POST",
                url: "/general/index2",
                data: {}
            }).success(function (msg) {
                $('#Conocenos').removeClass("active");
                document.getElementById("Inicio").innerHTML = "<p>Inicio</p>";
                $('#Inicio').addClass("active");
                document.getElementById("Contenido").innerHTML = msg;
                document.getElementById('cargando').style.display = 'none';
            })
        });

        $("#Conocenos").click(function () {
            console.log("CONOCENOS");
            document.getElementById("Conocenos").innerHTML = $loading;
            $.ajax({
                type: "POST",
                url: "/general/conocenos",
                data: {}
            }).success(function (msg) {
                $('#Inicio').removeClass("active");
                document.getElementById("Conocenos").innerHTML = "<p>Conocenos</p>";
                $('#Conocenos').addClass("active");
                document.getElementById("Contenido").innerHTML = msg;
            })
        });

        $(document).on('click', '#envio', function () {
            console.log("SELECCION");
            document.getElementById('images_name').click();
        });
        
        $(document).on('click', '#llamada', function () {
            document.getElementById("llamada").innerHTML = $loading2;
            $.ajax({
                type: "POST",
                url: "/general/llamada",
                data: {
                    busqueda: $('input:radio[name="busqueda[name]"]:checked').val()
                },
                success: function (response) {
                    console.log("OK: LLAMADA");
                    document.getElementById("llamada").innerHTML = "<span> LLAMADA </span>"; 
                    document.getElementById("modal").innerHTML = "<h2>Resultados</h2><p>" + response + "</p><a class=\"popup-cerrar\" href=\"#\">X</a>"; 
                    document.getElementById("miEnlace").click();        

                    
                },
                error: function (response) {   
                    document.getElementById("llamada").innerHTML = "<span> LLAMADA </span>"; 
                    console.log("ERROR: LLAMADA");
                    document.getElementById("modal").innerHTML = "<h2>Resultados</h2><p>Error al realizar la petición al servidor intentelo más tarde</p><a class=\"popup-cerrar\" href=\"#\">X</a>"; 
                    document.getElementById("miEnlace").click();
                }
            })
        });

        $(document).on('change', '#images_name', function () {
            document.getElementById("envio").innerHTML = $loading2;
            document.getElementById('enviar_foto').click();
        });

    });
</script>