<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body onload="document.getElementById('cargando').style.display = 'none';">
    {% block body %}
        <ul class="topnav">
            <li class="active" id="Inicio" onclick="displayPage('Inicio')"> <p> Inicio </p></li>
            <li id="Conocenos" onclick="displayPage('Conocenos')"> <p> Conocenos </p></li>
                {# <li class="loading">
                     <p class="loading-bar"></p>
                     <p class="loading-bar"></p>
                     <p class="loading-bar"></p>
                     <p class="loading-bar"></p></li>
                 <li class="spinner"></li>#}
            <li class="right"><p> Iniciar Sesión </p></li>
        </ul>
    {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>

<script>
    function displayPage($select) {
        var $loading = "<li class=\"spinner\"></li>";
        if ($select == 'Inicio') {
            document.getElementById($select).innerHTML = $loading;
            $.ajax({
                type: "POST",
                url: "/general/index2",
                data: {}
            }).done(function (msg) {
                $('#Conocenos').removeClass("active");
                document.getElementById($select).innerHTML = "<p>" + $select + "</p>";
                $('#Inicio').addClass("active");
                document.getElementById("Contenido").innerHTML = msg;
                document.getElementById('cargando').style.display = 'none';
            });
        } else if ($select == 'Conocenos') {
            document.getElementById($select).innerHTML = $loading;
            $.ajax({
                type: "POST",
                url: "/general/conocenos",
                data: {}
            }).done(function (msg) {
                $('#Inicio').removeClass("active");
                document.getElementById($select).innerHTML = "<p>" + $select + "</p>";
                $('#Conocenos').addClass("active");
                document.getElementById("Contenido").innerHTML = msg;
            });
        }

    }
</script>
